<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.testng.eclipse.launchconfig">
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.remote.RemoteTestNG"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="GmailAutomation"/>
<stringAttribute key="org.testng.eclipse.RUNTIME_TESTNG_VERSION" value="6.9.9"/>
<listAttribute key="org.testng.eclipse.SUITE_TEST_LIST">
<listEntry value="/home/user/workspace/GmailAutomation/testng.xml"/>
</listAttribute>
<intAttribute key="org.testng.eclipse.TYPE" value="3"/>
</launchConfiguration>
